<!DOCTYPE html>
<html lang="pt-br">
<head>
          <meta charset="UTF-8">

          <title>contact gerent</title>
</head>
<body>
          <div style="text-align: center;">
                    <form action="/add" method="POST">
                              <label>nome do contato</label><br>
                              <input type="text" name="nome" required><br><br>
                              <label>numero</label><br>
                              <input type="text" name="numero" required><br><br>
                              <button type="submit">Salvar</button>
                    </form>

          </div>
          
</body>
</html>