<!DOCTYPE html>
<html lang="pt-br">
<head>
          <meta charset="UTF-8">

          <title>lista contatos</title>
</head>
<body>
          <div style="text-align: center;">
                 <form action="/lista" method="GET"></form>
                    <h1>Seus contatos:</h1>
                    <ul>

                              {% for contato in contatos %}
                                  <li>{{ contato.nome }}, {{ contato.numero }}</li>
                              {% endfor %}
                    </ul>
                    


          </div>          
</body>
</html>