<!DOCTYPE html>
<html lang="pt-br">
<head>
          <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lista.css') }}">

          <title>lista contatos</title>
</head>
<body>
          <div style="text-align: center;">
                 <form action="/lista" method="GET"></form>
                    <h1>Seus contatos:</h1>
                     <div class="container">
                       {% for contato in contatos %}
                           <div class="p-card">
                              <p>{{ contato.nome }}</p>
                                <p>{{ contato.numero }}</p>
                                
                                <form action="{{ url_for('delete', id=contato.id) }}" method="POST">
                                    <input type="submit" value="apagar">
                              </form>
                                </div>
                          {% endfor %}
                        </div>
                        <a href="/">Voltar</a>
                    


          </div>          
</body>
</html>